@import url('normalize.css');

// === MIXIN ===
@mixin font-main {
	font-family: 'Lato', sans-serif;
}

@mixin font-secondary {
	font-family: 'Montserrat', sans-serif;
}
// === / MIXIN ===

// === Variables ===
$color-white: #ffffff;
$color-main: #414141;

$screen-xs-max: 575px;
$screen-sm: 576px;
$screen-sm-max: 767px;
$screen-md: 768px;
$screen-md-max: 991px;
$screen-lg: 992px;
$screen-lg-max: 1199px;
$screen-xl: 1200px;

// === / Variables ===

// === Common ===
* {
	box-sizing: border-box;
}

body {
	@include font-main;

	color: $color-main;
}

.section-outer {
	padding-right: 20px;
	padding-left: 20px;
}

.section-inner {
	max-width: 1180px;
	margin: 0 auto;
}

.description-item {
	&__icon {
		margin-bottom: 20px;
	}

	&__title {
		margin-bottom: 14px;
		font-size: 18px;
		font-weight: bold;
		line-height: 22px;
	}

	&__text {
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		color: #6c6c6c;
		margin-top: 14px;
	}
}

@mixin start-button {
	@include font-secondary;

	font-size: 16px;
	margin: 0;
	padding: 16px 20px;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}

.btn-main {
	@include start-button;

	border: none;
	color: $color-white;
	background: linear-gradient(to right, #fe985b, #fe4fa7);

	&:hover {
		background: linear-gradient(to right, #fe4fa7, #fe985b);
	}
}

.btn-secondary {
	@include start-button;

	border: 1px solid #979797;
	color: $color-main;
	background: $color-white;
	transition: .2;

	&:hover {
		color: #fe4fa7;
		border-color: #fe4fa7;
	}
}

.btn-free {
	@include start-button;

	border: none;
	color: $color-main;
	background: $color-white;
}

// === / Common ===

// === Header ===
.section-header {
	color: $color-white;
	background: url('../img/Bitmap.png') no-repeat 50% 50%;
	background-size: cover;
	position: relative;

	.section-inner {
		height: 100vh;
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(20, 39, 41, .6);
	}

	&-logo {
		font-weight: bold;
		font-size: 24px;
		flex-shrink: 1;
		padding-top: 35px;
	}

	&-content {
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	&-wrapper {
		margin: 0 auto;

		&__title,
		&__subtitle {
			text-align: center;
		}

		&__title {
			font-weight: bold;
			font-size: 56px;
			line-height: 60px;
			margin-bottom: 16px;

			@media (max-width: $screen-xs-max) {
				font-size: 50px;
			}
		}

		&__subtitle {
			@include font-secondary;

			font-size: 18px;
			line-height: 32px;
			width: 65%;
			margin: 0 auto 44px;
		}

		&__form {
			display: flex;

			&-input {
				flex: 1;

				input {
					@include font-secondary;

					border: none;
					background: rgba(255, 255, 255, 0.25);
					color: $color-white;
					font-size: 16px;
					margin: 0;
					padding: 16px 20px;
					outline: none;
					border-radius: 4px;
					width: 100%;
					transition: .2s;

					&::placeholder {
						color: $color-white;
					}

					&:focus {
						background: rgba(255, 255, 255, 0.5);
					}
				}
			}

			@media (min-width: $screen-sm) {
				&-input {
					margin-right: 40px;
				} 
			}
		
			@media (max-width: $screen-xs-max) {
				flex-direction: column;
				padding-right: 10px;
				padding-left: 10px;

				&-input {
					margin-bottom: 10px;
				}

				&-button {
					flex: 1;

					.btn-main {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
}
// === / Header ===

// === Promo ===
.section-promo {
	padding-top: 120px;
	padding-bottom: 120px;

	@media (max-width: $screen-xs-max) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.section-promo-1 {
	display: flex;

	&__content,
	&__video {
		flex-basis: 50%;
	}

	&__content {
		.title {
			font-size: 32px;
			font-weight: bold;
			line-height: 51px;
			margin-bottom: 56px;
		}

		.description-item {
			margin-top: 28px;
		}
	}

	&__video {
		img {
			width: 100%;
			height: auto;
		}
	}

	@media (max-width: $screen-sm-max) {
		flex-direction: column;

		&__video {
			order: -1;
			margin-bottom: 20px;
		}
	}

	@media (min-width: $screen-md) {
		&__content {
			padding-right: 90px;
		}
	}
}

.section-promo-2 {
	display: flex;
	padding-top: 86px;
	border-top: 1px solid #e2e2e2;
	text-align: center;

	@media (min-width: $screen-sm) {
		margin-top: 120px;

		.description-item + .description-item{
			margin-left: 40px;
		}
	}

	@media (max-width: $screen-xs-max) {
		flex-direction: column;
		margin-top: 60px;

		.description-item {
			margin-bottom: 40px;
		}
	}
}
// === / Promo ===

// === Founder ===
.section-founder {
	background-color: #f6fafd;
	padding-top: 34px;

	.section-inner {
		display: flex;
	}

	&__content {
		&-text {
			@include font-secondary;

			font-size: 24px;
			line-height: 40px;

			@media (max-width: $screen-xs-max) {
				font-size: 20px;
			}
		}

		&-name {
			font-size: 24px;
			line-height: 29px;
			font-weight: bold;
			padding-top: 30px;

			@media (max-width: $screen-xs-max) {
				font-size: 20px;
			}
		}

		&-post {
			font-size: 20px;
			line-height: 29px;

			@media (max-width: $screen-xs-max) {
				font-size: 18px;
			}
		}
	}

	@media (max-width: $screen-sm-max) {
		.section-inner {
			flex-direction: column;
		}

		&__img {
			margin: auto;

			img {
				max-width: 100%;
			}
		}

		&__content {
			order: -1;
			margin-bottom: 40px;
		}
	}

	@media (min-width: $screen-md) {
		&__img {
			align-self: flex-end;
		}

		&__content {
			align-self: center;
			padding-left: 50px;
		}
	}
}
// === / Founder ===

// === Plans ===
.section-plans {
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;

	&__title {
		font-weight: bold;
		font-size: 36px;
		line-height: 51px;
	}

	&__subtitle {
		margin-bottom: 80px;
		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 80px;

		@media (max-width: $screen-xs-max) {
			margin-bottom: 20px;
		}
	}

	&__list {
		display: flex;
		justify-content: center;

		&-item {
			flex-basis: 370px;
			padding: 60px 45px;

			&_title {
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 26px;
				text-transform: uppercase;
			}

			&_price {
				margin-bottom: 26px;

				.prefix {
				color: #fe4fa7;
				font-weight: bold;
				font-size: 72px;
				line-height: 86px;
				}

				.postfix {
				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				}

				@media (max-width: $screen-xs-max) {
					font-size: 65px;
				}
			}

			&_description {
				font-weight: 300;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 50px;

				@media (max-width: $screen-xs-max) {
					margin-bottom: 20px;
				}
			}

			&.active {
				background-color: #f6fafd;
			}

			@media (max-width: $screen-xs-max) {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}

		@media (max-width: $screen-xs-max) {
			flex-direction: column;
		}
	}

	@media (min-width: $screen-sm) {
		&__subtitle {
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

// === / Plans ===

// === Free ===
.section-free {
	text-align: center;
	color: $color-white;
	background: linear-gradient(to right, #fe985b, #fe4fa7);

	&__title {
		font-weight: bold;
		font-size: 55px;
		line-height: 60px;
		margin-bottom: 26px;
	}

	&__description {
		@include font-secondary;

		//font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		margin: 0 auto 40px;
	}

	@media (min-width: $screen-lg) {
		padding-top: 120px;
		padding-bottom: 120px;

		&__description {
			width: 50%;
		}
	}

	@media (max-width: $screen-md-max) {
		padding-top: 60px;
		padding-bottom: 60px;

		&__title {
			font-size: 45px;
		}
	}
}
// === / Free ===

// === Footer ===
.section-footer {
	padding-top: 80px;
	padding-bottom: 80px;

	&__logo {
		text-align: center;
		font-size: 24px;
		line-height: 29px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	&__nav {
		display: flex;
		justify-content: center;
		margin: 0 0 75px;
		padding: 0;
		list-style: none;

		li {
			a {
				font-size: 14px;
				line-height: 20px;
				font-weight: bold;
				text-transform: uppercase;
				color: #464646;
				text-decoration: none;
				transition: .2s;

				&.active,
				&:hover {
					color: #fe50a6;
				}
			}
		}

		@media (max-width: $screen-xs-max) {
			flex-direction: column;
			text-align: center;
			margin-bottom: 40px;

			li {
				& + li {
					margin-top: 10px;
				}
			}
		}

		@media (min-width: $screen-sm) {
			li {
				& + li {
					margin-left: 60px;
				}
			}
		}
	}

	&__copyright_and_links {
		@include font-secondary;

		font-size: 14px;
		line-height: 18px;
		display: flex;
		justify-content: space-between;

		@media (min-width: $screen-xl) {
			width: 60%;
			margin: 0 auto;
		}

		@media (max-width: $screen-sm-max) {
			flex-direction: column;
			text-align: center;
		}
	}

	@media (max-width: $screen-xs-max) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.helper-link {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		& + li {
			margin-left: 20px;
		}

		a {
			color: #464646;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (max-width: $screen-sm-max) {
		display: inline-flex;
		margin-top: 20px;
	}

	@media (min-width: $screen-md) {
		display: flex;
	}
}

// === / Footer ===